a, a:hover {
  color: #F4CCCC;
}


/* Back to top button */
.back-to-top {
  background: #F4CCCC;
  color: #fff;
}


.back-to-top:focus {
  background: #28062B;
  color: #fff;
}

.back-to-top:hover {
  background: #3C0451;
  color: #fff;
}

.navbar-default {
  background: #F4CCCC;
}

.form-control:focus {
  border-color: #F4CCCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #28062B;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #28062B;
}

.service .carousel-indicators .active {
  background: #F4CCCC;
}

.btn-theme {
  background: #F4CCCC;
}

.contact-widget i {
  color: #3C0451;
}


